.header {
    border-bottom: 1px solid black;
    padding: 20px;

    .logoBtn {
        color: black;
    }

    .headerBtn {
        color: black;
        border-radius: 4px;
        border: 1px solid #e8ebeb;
        text-transform: none;
    }
}